In [46]:
import numpy as np
import pandas as pd

#importa as bibliotecas

In [47]:
df = pd.read_csv('data_fii_raw.csv', sep=';', decimal='.') #importa a base de dados
df.shape # identifica o tamanho da base de dados, nesse caso, 353 linhas e 8 colunas.

(353, 8)

In [48]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1.721,"R$ 0,65","0,88%","R$ 1,1 bi","R$ 91,83","-0,60%","0,79"
1,AFCR11,957,"R$ 1,30","1,25%","R$ 154,9 mi","R$ 102,29","1,05%","1,01"
2,AFHI11,28.440,"R$ 1,35","1,36%","R$ 173,8 mi","R$ 97,24","-2,21%","1,10"
3,AFOF11,1.863,"R$ 0,60","1,28%","R$ 70,7 mi","R$ 102,32","-4,13%","0,87"
4,AIEC11,1.639,"R$ 0,72","0,90%","R$ 488,5 mi","R$ 101,24","-3,08%","0,79"

In [49]:
df.dtypes #identifica o tipo dos elementos em cada coluna

nome_fii          object
liq diaria        object
ultimo rend       object
yield             object
patrim liquido    object
valor patrim      object
rent mes          object
p/vp              object
dtype: object

In [50]:
df.isnull().sum() #retorna a quantidade de elementos nulos em cada coluna

nome_fii           0
liq diaria        30
ultimo rend       20
yield             36
patrim liquido     6
valor patrim       6
rent mes          33
p/vp              30
dtype: int64

In [51]:
df = df.fillna('0') #zera os elementos com valor nulo

In [52]:
df.isnull().sum() #mostra a quantidade de elementos nulos depois que os valores nulos foram zerados

nome_fii          0
liq diaria        0
ultimo rend       0
yield             0
patrim liquido    0
valor patrim      0
rent mes          0
p/vp              0
dtype: int64

In [53]:
df['liq diaria'] = df['liq diaria'].str.replace('.','').astype(int) #apaguei os pontos dos valores da coluna para converter a str em int

C:\Users\Vin√≠cius Tejadas\AppData\Local\Temp\ipykernel_23348\1119355402.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['liq diaria'] = df['liq diaria'].str.replace('.','').astype(int) #apaguei os pontos dos valores da coluna para converter a str em int

In [54]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1721,"R$ 0,65","0,88%","R$ 1,1 bi","R$ 91,83","-0,60%","0,79"
1,AFCR11,957,"R$ 1,30","1,25%","R$ 154,9 mi","R$ 102,29","1,05%","1,01"
2,AFHI11,28440,"R$ 1,35","1,36%","R$ 173,8 mi","R$ 97,24","-2,21%","1,10"
3,AFOF11,1863,"R$ 0,60","1,28%","R$ 70,7 mi","R$ 102,32","-4,13%","0,87"
4,AIEC11,1639,"R$ 0,72","0,90%","R$ 488,5 mi","R$ 101,24","-3,08%","0,79"

In [55]:
df['ultimo rend'] = df['ultimo rend'].str.replace('R$ ','', regex=False)
df['ultimo rend'] = df['ultimo rend'].str.replace(',','.', regex=False).astype(float)

In [56]:
df['ultimo rend']

0       0.65
1       1.30
2       1.35
3       0.60
4       0.72
       ...
348     0.45
349     0.68
350     0.00
351    19.41
352     0.79
Name: ultimo rend, Length: 353, dtype: float64

In [57]:
df['yield'] = df['yield'].str.replace(',','.', regex=False)
df['yield'] = df['yield'].str.replace('%','', regex=False).astype(float)/100

In [58]:
df['yield']

0      0.0088
1      0.0125
2      0.0136
3      0.0128
4      0.0090
        ...
348    0.0077
349    0.0093
350    0.0000
351    0.0194
352    0.0000
Name: yield, Length: 353, dtype: float64

In [59]:
def trata_patr_liq(x = 'R$ 10,00 mi'):
    x = x.replace('R$ ','')
    x = x.replace('.','')
    x = x.replace(',','.')
    x = x.split(' ')
    if x[-1] == 'mi':
        x = float(x[0])*10**6
    elif x[-1] == 'bi':
        x = float(x[0])*10**9

    if type(x) == type(list()):
        x = float(x[0])
    return x

trata_patr_liq()

10000000.0

In [60]:
df['patrim liquido'] = df['patrim liquido'].apply(lambda x: trata_patr_liq(x))

In [61]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1721,0.65,0.0088,1.100000e+09,"R$ 91,83","-0,60%","0,79"
1,AFCR11,957,1.30,0.0125,1.549000e+08,"R$ 102,29","1,05%","1,01"
2,AFHI11,28440,1.35,0.0136,1.738000e+08,"R$ 97,24","-2,21%","1,10"
3,AFOF11,1863,0.60,0.0128,7.070000e+07,"R$ 102,32","-4,13%","0,87"
4,AIEC11,1639,0.72,0.0090,4.885000e+08,"R$ 101,24","-3,08%","0,79"

In [62]:
df['valor patrim'] = df['valor patrim'].str.replace('R$ ', '', regex=False)
df['valor patrim'] = df['valor patrim'].str.replace('.','', regex=False)
df['valor patrim'] = df['valor patrim'].str.replace(',','.', regex=False).astype(float)

In [63]:
df['rent mes'] = df['rent mes'].str.replace('%', '', regex=False)
df['rent mes'] = df['rent mes'].str.replace(',', '.', regex=False).astype(float)/100

In [64]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1721,0.65,0.0088,1.100000e+09,91.83,-0.0060,"0,79"
1,AFCR11,957,1.30,0.0125,1.549000e+08,102.29,0.0105,"1,01"
2,AFHI11,28440,1.35,0.0136,1.738000e+08,97.24,-0.0221,"1,10"
3,AFOF11,1863,0.60,0.0128,7.070000e+07,102.32,-0.0413,"0,87"
4,AIEC11,1639,0.72,0.0090,4.885000e+08,101.24,-0.0308,"0,79"

In [65]:
df['p/vp'] = df['p/vp'].str.replace(',', '.', regex=False).astype(float)

In [66]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1721,0.65,0.0088,1.100000e+09,91.83,-0.0060,0.79
1,AFCR11,957,1.30,0.0125,1.549000e+08,102.29,0.0105,1.01
2,AFHI11,28440,1.35,0.0136,1.738000e+08,97.24,-0.0221,1.10
3,AFOF11,1863,0.60,0.0128,7.070000e+07,102.32,-0.0413,0.87
4,AIEC11,1639,0.72,0.0090,4.885000e+08,101.24,-0.0308,0.79

In [68]:
df.to_csv('data_fii.csv', sep=';', decimal=',', index=False)